@model List<BackofficeSOSA.Models.Sinalizacao>
@{
    ViewBag.Title = "Sinalizacoes";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<head>
    <title></title>
    <meta http-equiv="refresh" content="25" />
</head>
<!-- Begin Page Content -->
<div class="container-fluid">
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Admin/Dashboard">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Sinalizações</li>

    </ol>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <i class="fas fa-table"></i>
            Sinalizações
            <a href="/Admin/AddSinalizacao" class="btn btn-info fa-pull-right">Adicionar sinalização</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="sinsTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Id</th>
                            <th>IdUser</th>
                            <th>Nota</th>
                            <th>Status</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Data</th>
                            <th>Id</th>
                            <th>IdUser</th>
                            <th>Nota</th>
                            <th>Status</th>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Data)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdUser)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nota)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Lat)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Long)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "EditSinalizacao", new { id = item.Id }) |
                                    @Html.ActionLink("Detalhes", "DetailsSinalizacao", new { id = item.Id }) |
                                    @Html.ActionLink("Remover", "DeleteSinalizacao", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#sinsTable").DataTable({

                "order": [[0, "desc"]],
                'rowCallback': function (row, data, index) {
                    if (data[4] == 1) {
                        $(row).find('td:eq(4)').css('background-color', '#fa6464');
                    }
                    if (data[4] == 0) {
                        $(row).find('td:eq(4)').css('background-color', '#82cf65');
                    }
                }
            });
        });
    </script>>
}
